<header>
  <div class="header-top">
      <h1>CSE Motors</h1>
      <a href="#" class="account">My Account</a>
  </div>
  <nav>
    <a href="/inventory/home">Home</a>
    <a href="/inventory/custom">Custom</a>
    <a href="/inventory/sedan">Sedan</a>
    <a href="/inventory/suv">SUV</a>
    <a href="/inventory/truck">Truck</a>
  </nav>
</header>
