<%- include('partials/head') %>
    <%- include('partials/header') %>
    
    <main>
        <section class="hero">
            <h1>Welcome to CSE Motors!</h1>
            <h2>DMC Delorean</h2>
            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <button>Own Today</button>
            <img src="/images/delorean.JPG" alt="DMC Delorean">
        </section>
        <section class="delorean-upgrades">
            <h2>Delorean Upgrades</h2>
            <div class="upgrades">
                <div class="upgrade">
                    <img src="/images/flux-cap.png" alt="Flux Capacitor">
                    <a href="#">Flux Capacitor</a>
                </div>
                <div class="upgrade">
                    <img src="/images/flame.JPG" alt="Flame Decals">
                    <a href="#">Flame Decals</a>
                </div>
                <div class="upgrade">
                    <img src="/images/bumper_sticker.JPG" alt="Bumper Stickers">
                    <a href="#">Bumper Stickers</a>
                </div>
                <div class="upgrade">
                    <img src="/images/hub-cap.JPG" alt="Hub Caps">
                    <a href="#">Hub Caps</a>
                </div>
            </div>
        </section>
        <section class="delorean-reviews">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>